@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans:ital,wght@0,600;1,200;1,400 & display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif;;/*tipografia*/
    background-color: rgb(255, 255, 255); /*color de fondo*/
    color: black ;/*color de la letra*/
    font-family: 400;/* espesor de la tipografia*/
    
    
}
header{
    width: 1100px;
    height: 220px;
    margin: auto;
    background-color: rgb(33, 33, 87);
}
main{
    width: 1100px;
    height: 820px;
    margin: auto;
    background-color: cadetblue;
}
footer{
    width: 1100px;/*ancho*/
    height: 200px;/*altura*/
    margin: auto;/*centrado*/
    background-color: rgb(28, 28, 63);
};
h1{
    font-weight: 600;
}